<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles/style.css" rel="stylesheet" />
    <title>HIKMM | Your Digital Store</title>
</head>

<body>
    <section class="overflow-hidden" id="home">
        <nav
            class="fixed top-0 left-0 navbar z-10 navbar-expand-lg shadow-md py-2 bg-gray-900 flex items-center w-full justify-between">
            <div class="px-6 w-full flex flex-wrap items-center justify-between">
                <div class="flex items-center">
                    <button
                        class="navbar-toggler border-0 py-3 lg:hidden leading-none text-xl bg-transparent text-gray-600 hover:text-gray-700 focus:text-gray-700 transition-shadow duration-150 ease-in-out mr-2"
                        type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContentY"
                        aria-controls="navbarSupportedContentY" aria-expanded="false" aria-label="Toggle navigation">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" class="w-5" role="img"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                            <path fill="currentColor"
                                d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z">
                            </path>
                        </svg>
                    </button>
                    <a class="navbar-brand text-cyan-500 flex items-center" href="/">
                        <svg class="w-5 h-5 ml-2 lg:ml-0 mr-2" viewBox="0 0 148 146" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M143.742 143.191H145.742V141.191V4.99136V2.97126L143.722 2.99146L113.742 3.29136H113.732H113.442H113.369L113.296 3.29666C99.2594 4.32126 86.1194 9.13174 75.417 16.9363C74.9945 17.2056 74.5408 17.5441 74.1171 17.8728L72.9419 16.9914L72.9333 16.9849L72.9246 16.9785C62.1045 9.04381 48.9446 4.32528 34.902 3.19777L34.8221 3.19136H34.7419H34.6518L4.46176 2.89146L2.44189 2.87139V4.89136V141.191V143.191H4.44189H143.742ZM99.334 70.3393L99.3367 70.3316L99.3393 70.3238C102.08 62.1018 100.246 51.8046 94.4949 41.4285C91.6377 36.1766 87.8911 31.1147 83.6276 26.5241C92.238 20.4234 102.75 16.7433 114.134 15.7906L133.242 15.6103V130.691H15.0419V15.6103L34.1495 15.7906C45.5346 16.7433 56.0472 20.4239 64.6579 26.5253C60.3862 31.1405 56.6432 36.2724 53.7921 41.4227C48.0382 51.8008 46.2034 62.1003 48.9445 70.3238C50.6076 75.3131 53.4169 78.9529 55.4419 81.102V81.514L56.2709 82.1127L58.028 83.3817C63.6683 87.9177 69.8206 88.9775 73.9395 89.1887L73.9906 89.1914H74.0419H74.1419H74.4419H74.4931L74.5443 89.1887C78.6996 88.9756 84.8493 87.8017 90.4802 83.3619L90.5728 83.2889L90.6561 83.2056C90.6547 83.207 90.6553 83.2064 90.6588 83.2031C90.6669 83.1955 90.6905 83.1734 90.7415 83.1265C90.7995 83.0733 90.8928 82.9882 90.9908 82.8978C91.1959 82.7087 91.4667 82.4555 91.7855 82.1417C92.4227 81.5145 93.2486 80.6486 94.1407 79.5568C95.9202 77.3788 97.9868 74.2733 99.334 70.3393ZM82.7623 73.3988C82.761 73.3999 82.7597 73.4011 82.7584 73.4022L82.627 73.5026C79.6621 75.7699 76.4289 76.4887 74.1419 76.5897C71.8483 76.4886 68.5656 75.7708 65.7327 73.562C65.7292 73.5587 65.7256 73.5555 65.722 73.5522C65.0314 72.9194 62.2307 70.3533 60.8374 66.3529C59.3998 61.9302 60.505 55.3539 64.7943 47.5552L64.7951 47.5539C67.1917 43.1886 70.4452 38.8676 74.1544 34.9466C77.8409 38.7953 81.0899 43.1845 83.4887 47.5539L83.4946 47.5645C87.796 55.2874 88.972 61.9438 87.4524 66.3358C86.6997 68.5054 85.5145 70.3035 84.4772 71.5802C83.9615 72.2148 83.4932 72.7074 83.1525 73.0385C82.9818 73.2045 82.8483 73.3249 82.7623 73.3988ZM82.6972 73.4534C82.6934 73.4564 82.6908 73.4584 82.6896 73.4594C82.6623 73.4806 82.6678 73.4746 82.6972 73.4534Z"
                                fill="#0891B2" stroke="#0891B2" stroke-width="4" />
                        </svg>
                        <span>HIKMM</span>
                    </a>
                </div>
                <div class="navbar-collapse collapse grow items-center" id="navbarSupportedContentY">
                    <ul class="navbar-nav mr-auto lg:flex lg:flex-row">
                        <li class="nav-item">
                            <a class="nav-link block pr-2 lg:px-2 py-2 text-gray-600 hover:text-gray-700 focus:text-gray-700 transition duration-150 ease-in-out"
                                href="/dashboard" data-mdb-ripple="true" data-mdb-ripple-color="light">Dashboard</a>
                        </li>
                    </ul>
                </div>
                <div class="md:flex hidden items-center lg:ml-auto">
                    <a href="#home">
                        <button type="button"
                            class="inline-block px-6 py-2.5 mr-2 bg-transparent text-cyan-500 font-medium text-xs leading-tight uppercase rounded focus:outline-none focus:ring-0 hover:opacity-80 transition duration-150 ease-in-out"
                            data-mdb-ripple="true" data-mdb-ripple-color="light">Home</button>
                    </a>
                    <a href="#features">
                        <button type="button"
                            class="inline-block px-6 py-2.5 mr-2 bg-transparent text-gray-300 font-medium text-xs leading-tight uppercase rounded focus:outline-none focus:ring-0 hover:opacity-80 transition duration-150 ease-in-out"
                            data-mdb-ripple="true" data-mdb-ripple-color="light">Features</button>
                    </a>
                    <a href="#about-us">
                        <button type="button"
                            class="inline-block px-6 py-2.5 mr-2 bg-transparent text-gray-300 font-medium text-xs leading-tight uppercase rounded focus:outline-none focus:ring-0 hover:opacity-80 transition duration-150 ease-in-out"
                            data-mdb-ripple="true" data-mdb-ripple-color="light">About Us</button>
                    </a>
                    <a href="/signin">
                        <button type="button"
                            class="inline-block px-6 py-2.5 mr-2 bg-transparent text-gray-300 font-medium text-xs leading-tight uppercase rounded hover:text-cyan-700 hover:bg-white focus:outline-none focus:ring-0 transition duration-150 ease-in-out"
                            data-mdb-ripple="true" data-mdb-ripple-color="light">Sign In</button>
                    </a>
                    <a href="/signup">
                        <button type="button"
                            class="inline-block px-6 py-2.5 bg-cyan-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-cyan-700 hover:shadow-lg focus:bg-cyan-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-cyan-800 active:shadow-lg transition duration-150 ease-in-out"
                            data-mdb-ripple="true" data-mdb-ripple-color="light">Sign Up</button></a>
                </div>
            </div>
        </nav>