<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles/style.css" rel="stylesheet" />
    <title>HIKMM | Your Digital Store</title>
</head>

<body>
    <main class="h-screen w-full flex flex-col justify-center items-center bg-[#111827]">
        <h1 class="text-9xl font-extrabold text-white tracking-widest">404</h1>
        <div class="bg-cyan-500 px-2 text-sm rounded rotate-12 absolute">
            Page Not Found
        </div>
        <button class="mt-5">
            <a class="inline-block px-7 py-3 mr-1.5 border-2 border-cyan-500 text-cyan-500 font-medium text-sm leading-snug uppercase rounded-full shadow-md hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out"
                data-mdb-ripple="true" data-mdb-ripple-color="light" href="/" role="button">Go Home</a>
        </button>
    </main>
</body>

</html>