<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles/style.css" rel="stylesheet" />
    <title>HIKMM | Your Digital Store</title>
</head>

<body>
    <div
        class="bg-cyan-900 absolute top-0 left-0 bg-gradient-to-b from-gray-900 via-gray-800 to-cyan-900 bottom-0 leading-5 h-full w-full overflow-hidden">

    </div>
    <div class="relative bg-black min-h-screen sm:flex sm:flex-row justify-center bg-transparent rounded-3xl shadow-xl">
        <div class="flex-col flex  self-center lg:px-14 sm:max-w-4xl xl:max-w-md  z-10">
            <div class="self-start hidden lg:flex flex-col text-gray-300">
                <h1 class="my-3 font-semibold text-4xl">Welcome</h1>
                <p class="pr-3 text-sm opacity-75">Create an account and register your stores and manage them easily. If
                    you have questions feel free to reach out.</p>
            </div>
        </div>
        <div class="flex justify-center self-center  z-10">
            <div class="p-12 bg-[#141414] mx-auto rounded-3xl w-96 ">
                <div class="mb-7">
                    <h3 class="font-semibold text-2xl text-gray-200 pb-2">Sign Up</h3>
                    <p class="text-gray-400">Already have an account? <a href="/signin"
                            class="text-sm underline underline-offset-4 text-cyan-500 hover:text-cyan-400">Sign In</a>
                    </p>
                </div>
                <div class="space-y-6">
                    <div class="flex justify-center gap-5 w-full ">
                        <a href="/auth/google" class="w-full">
                            <button type="submit"
                                class="w-full flex items-center justify-center mb-6 md:mb-0 border border-gray-300 hover:border-cyan-900 hover:bg-cyan-900 text-sm text-gray-200 p-3 rounded-lg tracking-wide font-medium  cursor-pointer transition ease-in duration-500">
                                <svg class="w-4 mr-2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path fill="#EA4335"
                                        d="M5.266 9.765A7.077 7.077 0 0 1 12 4.909c1.69 0 3.218.6 4.418 1.582L19.91 3C17.782 1.145 15.055 0 12 0 7.27 0 3.198 2.698 1.24 6.65l4.026 3.115Z" />
                                    <path fill="#34A853"
                                        d="M16.04 18.013c-1.09.703-2.474 1.078-4.04 1.078a7.077 7.077 0 0 1-6.723-4.823l-4.04 3.067A11.965 11.965 0 0 0 12 24c2.933 0 5.735-1.043 7.834-3l-3.793-2.987Z" />
                                    <path fill="#4A90E2"
                                        d="M19.834 21c2.195-2.048 3.62-5.096 3.62-9 0-.71-.109-1.473-.272-2.182H12v4.637h6.436c-.317 1.559-1.17 2.766-2.395 3.558L19.834 21Z" />
                                    <path fill="#FBBC05"
                                        d="M5.277 14.268A7.12 7.12 0 0 1 4.909 12c0-.782.125-1.533.357-2.235L1.24 6.65A11.934 11.934 0 0 0 0 12c0 1.92.445 3.73 1.237 5.335l4.04-3.067Z" />
                                </svg>
                                <!-- <svg class="w-4" fill="#fff" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M11.99 13.9v-3.72h9.36c.14.63.25 1.22.25 2.05 0 5.71-3.83 9.77-9.6 9.77-5.52 0-10-4.48-10-10S6.48 2 12 2c2.7 0 4.96.99 6.69 2.61l-2.84 2.76c-.72-.68-1.98-1.48-3.85-1.48-3.31 0-6.01 2.75-6.01 6.12s2.7 6.12 6.01 6.12c3.83 0 5.24-2.65 5.5-4.22h-5.51v-.01Z"></path></svg> -->
                                <span>Sign Up with Google</span>
                            </button>
                        </a>
                    </div>
                    <div class="flex items-center justify-center space-x-2 my-5">
                        <span class="h-px w-16 bg-gray-100"></span>
                        <span class="text-gray-300 font-normal">or</span>
                        <span class="h-px w-16 bg-gray-100"></span>
                    </div>
                    <div class="">
                        <input
                            class=" w-full text-sm px-4 py-3 bg-gray-200 focus:bg-gray-100 border border-gray-200 rounded-lg focus:outline-none focus:border-cyan-400"
                            type="text" placeholder="Full Name">
                    </div>
                    <div class="">
                        <input
                            class=" w-full text-sm px-4 py-3 bg-gray-200 focus:bg-gray-100 border border-gray-200 rounded-lg focus:outline-none focus:border-cyan-400"
                            type="email" placeholder="Email">
                    </div>
                    <div class="relative" x-data="{ show: true }">
                        <input placeholder="Password" :type="show ? 'password' : 'text'"
                            class="text-sm px-4 py-3 rounded-lg w-full bg-gray-200 focus:bg-gray-100 border border-gray-200 focus:outline-none focus:border-cyan-400">
                        <div class="flex items-center absolute inset-y-0 right-0 mr-3  text-sm leading-5">
                            <svg @click="show = !show" :class="{'hidden': !show, 'block':show }"
                                class="h-4 text-cyan-700" fill="none" xmlns="http://www.w3.org/2000/svg"
                                viewbox="0 0 576 512">
                                <path fill="currentColor"
                                    d="M572.52 241.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400a144 144 0 1 1 144-144 143.93 143.93 0 0 1-144 144zm0-240a95.31 95.31 0 0 0-25.31 3.79 47.85 47.85 0 0 1-66.9 66.9A95.78 95.78 0 1 0 288 160z">
                                </path>
                            </svg>
                            <svg @click="show = !show" :class="{'block': !show, 'hidden':show }"
                                class="h-4 text-cyan-700" fill="none" xmlns="http://www.w3.org/2000/svg"
                                viewbox="0 0 640 512">
                                <path fill="currentColor"
                                    d="M320 400c-75.85 0-137.25-58.71-142.9-133.11L72.2 185.82c-13.79 17.3-26.48 35.59-36.72 55.59a32.35 32.35 0 0 0 0 29.19C89.71 376.41 197.07 448 320 448c26.91 0 52.87-4 77.89-10.46L346 397.39a144.13 144.13 0 0 1-26 2.61zm313.82 58.1l-110.55-85.44a331.25 331.25 0 0 0 81.25-102.07 32.35 32.35 0 0 0 0-29.19C550.29 135.59 442.93 64 320 64a308.15 308.15 0 0 0-147.32 37.7L45.46 3.37A16 16 0 0 0 23 6.18L3.37 31.45A16 16 0 0 0 6.18 53.9l588.36 454.73a16 16 0 0 0 22.46-2.81l19.64-25.27a16 16 0 0 0-2.82-22.45zm-183.72-142l-39.3-30.38A94.75 94.75 0 0 0 416 256a94.76 94.76 0 0 0-121.31-92.21A47.65 47.65 0 0 1 304 192a46.64 46.64 0 0 1-1.54 10l-73.61-56.89A142.31 142.31 0 0 1 320 112a143.92 143.92 0 0 1 144 144c0 21.63-5.29 41.79-13.9 60.11z">
                                </path>
                            </svg>
                        </div>
                    </div>
                    <div>
                        <button type="submit"
                            class="w-full flex justify-center bg-cyan-800  hover:bg-cyan-700 text-gray-100 p-3  rounded-lg tracking-wide font-semibold  cursor-pointer transition ease-in duration-500">
                            Sign Up
                        </button>
                    </div>
                </div>
                <div class="mt-7 text-center text-gray-300 text-xs">
                    <span>
                        Copyright © 2022
                </div>
            </div>
        </div>
    </div>
    </div>
    <footer class="absolute w-full bottom-0 left-0 z-30">
        <div class="container p-5 mx-auto  flex items-center justify-between ">
            <div class="flex mr-auto">
                <a href="/" title="" class="text-center flex flex-col items-center text-cyan-700 focus:outline-none">
                    <svg class="w-5 h-5 ml-2 lg:ml-0 mr-2" viewBox="0 0 148 146" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M143.742 143.191H145.742V141.191V4.99136V2.97126L143.722 2.99146L113.742 3.29136H113.732H113.442H113.369L113.296 3.29666C99.2594 4.32126 86.1194 9.13174 75.417 16.9363C74.9945 17.2056 74.5408 17.5441 74.1171 17.8728L72.9419 16.9914L72.9333 16.9849L72.9246 16.9785C62.1045 9.04381 48.9446 4.32528 34.902 3.19777L34.8221 3.19136H34.7419H34.6518L4.46176 2.89146L2.44189 2.87139V4.89136V141.191V143.191H4.44189H143.742ZM99.334 70.3393L99.3367 70.3316L99.3393 70.3238C102.08 62.1018 100.246 51.8046 94.4949 41.4285C91.6377 36.1766 87.8911 31.1147 83.6276 26.5241C92.238 20.4234 102.75 16.7433 114.134 15.7906L133.242 15.6103V130.691H15.0419V15.6103L34.1495 15.7906C45.5346 16.7433 56.0472 20.4239 64.6579 26.5253C60.3862 31.1405 56.6432 36.2724 53.7921 41.4227C48.0382 51.8008 46.2034 62.1003 48.9445 70.3238C50.6076 75.3131 53.4169 78.9529 55.4419 81.102V81.514L56.2709 82.1127L58.028 83.3817C63.6683 87.9177 69.8206 88.9775 73.9395 89.1887L73.9906 89.1914H74.0419H74.1419H74.4419H74.4931L74.5443 89.1887C78.6996 88.9756 84.8493 87.8017 90.4802 83.3619L90.5728 83.2889L90.6561 83.2056C90.6547 83.207 90.6553 83.2064 90.6588 83.2031C90.6669 83.1955 90.6905 83.1734 90.7415 83.1265C90.7995 83.0733 90.8928 82.9882 90.9908 82.8978C91.1959 82.7087 91.4667 82.4555 91.7855 82.1417C92.4227 81.5145 93.2486 80.6486 94.1407 79.5568C95.9202 77.3788 97.9868 74.2733 99.334 70.3393ZM82.7623 73.3988C82.761 73.3999 82.7597 73.4011 82.7584 73.4022L82.627 73.5026C79.6621 75.7699 76.4289 76.4887 74.1419 76.5897C71.8483 76.4886 68.5656 75.7708 65.7327 73.562C65.7292 73.5587 65.7256 73.5555 65.722 73.5522C65.0314 72.9194 62.2307 70.3533 60.8374 66.3529C59.3998 61.9302 60.505 55.3539 64.7943 47.5552L64.7951 47.5539C67.1917 43.1886 70.4452 38.8676 74.1544 34.9466C77.8409 38.7953 81.0899 43.1845 83.4887 47.5539L83.4946 47.5645C87.796 55.2874 88.972 61.9438 87.4524 66.3358C86.6997 68.5054 85.5145 70.3035 84.4772 71.5802C83.9615 72.2148 83.4932 72.7074 83.1525 73.0385C82.9818 73.2045 82.8483 73.3249 82.7623 73.3988ZM82.6972 73.4534C82.6934 73.4564 82.6908 73.4584 82.6896 73.4594C82.6623 73.4806 82.6678 73.4746 82.6972 73.4534Z"
                            fill="#0891B2" stroke="#0891B2" stroke-width="4" />
                    </svg>
                    <p class="text-xl">HIKMM</p>
                </a>
            </div>

        </div>
    </footer>

    <svg class="absolute bottom-0 left-0 " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#111827" fill-opacity="1"
            d="M0,0L40,42.7C80,85,160,171,240,197.3C320,224,400,192,480,154.7C560,117,640,75,720,74.7C800,75,880,117,960,154.7C1040,192,1120,224,1200,213.3C1280,203,1360,149,1400,122.7L1440,96L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z">
        </path>
    </svg>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js"></script>
</body>

</html>